# Virtual environments
.venv/

# OS junk
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Outputs / generated artifacts
outputs/

# Local assets (download separately)
assets/body_models/smpl/*.pkl

# Databases
*.sqlite3
